@page "/PartsRenderer"
@rendermode InteractiveWebAssembly

<PageTitle>Parts Drawer</PageTitle>

<HeadContent>
    <meta name="description" content="Carpentry Parts Generator, Parts Drawer"
</HeadContent>

<CanvasHelper @ref="CanvasHelper"
              CanvasResized="CanvasResized"
              RenderFrame="RenderFrame"
              MouseDown="MouseDown"
              MouseUp="MouseUp"
              MouseMove="MouseMove"
              MouseWheel="MouseWheel">

    <BECanvas Width="600" Height="400" @ref="CanvasReference"></BECanvas>

</CanvasHelper>
@if (ParamsResult != null)
{
    <div class="btn-group" role="group" aria-label="buttons-group">
        <button @onclick="SaveCanvasAsImageAsync" class="btn btn-primary" style="z-index: 20;"><i class="fa-solid fa-download"></i></button>
        <button @onclick="GeneratePdfAsync" class="btn btn-primary" style="z-index: 20;"><i class="fa-solid fa-file-pdf"></i></button>
    </div>
} 
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage="ErrorMessage" />
}
else
{
    <DisplaySpinner />
}